
.BlockSeparateOrder {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.BlockSeparateOrder__MakeSeparatedOrder {

    display: flex;
    justify-content: space-between;
    width: 85%;
    min-height: 48px;
    color: #494c55;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

.BlockSeparateOrder__ShareOrderButton {
    width: 64px;
    height: 48px;
    margin-left: 15px;
}

@media (max-width: 315px) {
    .BlockSeparateOrder__MakeSeparatedOrder {
      padding: 0;
      align-items: center;
    }
  }