.ListOrders {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .Order {
    display: flex;
    justify-content: space-between;
  }
  
  .Order__content {
    max-width: 80%;
  }
  .Order__title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .Order__order {
    display: flex;
    flex-direction: column;
  }
  
  .Order__positionOrder {
    color: #b4b7bd;
    font-size: 12px;
    line-height: 14px;
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Order__price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  
    color: #413dff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  
    max-width: 20%;
    text-overflow: ellipsis;
    overflow: hidden;
  }