.Block-GeneralAmount {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: fixed;
  right: 0;
  z-index: 1;
  box-shadow: 1px 0 11px rgba(0, 0, 0, 0.09);
  left: 0;
  margin-bottom: 0;
}
.GeneralAmount__eat {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
}
.Block-AllInfoAboutPay {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  color: #343d5d;
}
.Block-AllInfoAboutPay__separate_container,
  .Block-GeneralAmount__separate_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Block-AllInfoAboutPay__calcuatedAmount {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 6px;
}
.Block-GeneralAmount__LineDivider {
  background: #edeef1;
  height: 1px;
  margin-bottom: 15px;
  width: 100%;
}
.Block-GeneralAmount__result {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
