.popup {
  position: fixed;
  background: rgba(101, 94, 94, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 6;
}

.popup-content {
  background: #fff;
  top: 35%;
  box-shadow: 1px 0 11px rgba(0, 0, 0, 0.09);
  left: 0;
  padding: 9px 16px 16px;
  position: fixed;
  right: 0;
  height: 35%;
  z-index: 6;
  overflow: auto;
}

.popup-content__buttonShare {

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}