
.Block-SeparateOrder {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Block-SeparateOrder__SWITCHSeparatedOrder {

    display: flex;
    justify-content: space-between;
    width: 85%;
    min-height: 48px;
    color: #494c55;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
}

.Block-SeparateOrder__BUTTONShareOrder {
    width: 64px;
    height: 48px;
}

@media (max-width: 315px) {
    .Block-SeparateOrder__SWITCHSeparatedOrder{
      padding: 0;
      align-items: center;
    }
  }