.Block-InputTips___BUTTONChangeTips {

    background: #f7f8fa;
    border: 1px solid #f7f8fa;
    border-radius: 6px;
    color: #80869a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px;
}
.Block-InputTips___BUTTONChangeTips_active  {

    border-color: #6764ff;
    color: #010d35;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}