.pageOrder {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pageOrder__loader {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pageOrder__loader_Content {

    display: flex;
    flex-direction: column;
}

.OrderContent {

    padding: 16px 16px 130px;

}

.wrapperBlock {

    background-color: #fff;
    border: 1px solid #e6e7eb;
    border-radius: 12px;
    list-style-type: none;
    padding: 12px;
    margin-bottom: 12px;

}