.Modal_order__SelectBankheader_FullList {

    height: 310px;
    overflow: auto;
    position: relative;
    width: 100%;
}

.Modal_order__SelectBankheader_FullList_categories {

    color: #010d35;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.Modal_order__SelectBankheader_FullList_titleCategory{

    margin-bottom: 16px;
}
.Modal_order__SelectBankheader_FullList_BankCategory {

    align-items: center;
    cursor: pointer;
    display: flex;
    height: 40px;
}
.Modal_order__SelectBankheader_FullList_IconBank {

    height: 24px;
    margin-right: 8px;
    width: 24px;
}