.Modal_order__SelectBankheader_FullList {
  height: 310px;
  overflow: auto;
  position: relative;
  width: 100%;
}

.Modal_order__SelectBankheader_FullList_categories {
  color: #010d35;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.Modal_order__SelectBankheader_FullList_titleCategory {
 
  margin-bottom: 16px;
  text-align: left;
}
.Modal_order__SelectBankheader__TitlechooseWaysPay {
    position: relative;
    font-size: 15px;
}
.Modal_order__SelectBankheader__arrowBackPage {
 position: absolute;
 left: 7px;
 top: 5px;
    
}
.Modal_order__SelectBankheader_FullList_BankCategory {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
}
.Modal_order__SelectBankheader_FullList_IconBank {
  height: 24px;
  margin-right: 8px;
  width: 24px;
}
.Modal_order__SelectBankheader__BlockSearch {
  background: #fff;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.Modal_order__SelectBankheader__InputSearch {
  background: #fff;
  border: 1px solid #e6e7eb;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  height: 36px;
  line-height: 18px;
  padding: 0 36px;
  width: 100%;
}
.Modal_order__SelectBankheader__IconSearch {
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  left: 8px;
  z-index: 1;
}
.Modal_order__SelectBankheader__InputSearch {outline:none;}
.Modal_order__SelectBankheader__InputSearch:focus {
    border: 1px solid #00bfff;
  }

  .Modal_order__SelectBankheader__wrap_buttonCross{

    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }



  .Modal_order__SelectBankheader__cross {
    align-items: center;
    background: #f7f8fa;
    border: 1px solid #edeef1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    outline: none;
    width: 24px;
  }
  
  .Modal_order__SelectBankheader__cross::before {
    background: #ec4e4e;
    border-radius: 5px;
    content: "";
    display: block;
    height: 12px;
    left: 50%;
    position: absolute;
    width: 1.5px;
    transform: translateX(-50%) rotate(45deg);
  }
  
  .Modal_order__SelectBankheader__cross::after {
    background: #ec4e4e;
    border-radius: 5px;
    content: "";
    display: block;
    height: 12px;
    left: 50%;
    position: absolute;
    width: 1.5px;
    transform: translateX(-50%) rotate(-45deg);
  }