.Block-ListSelectBank_popularBanks, .Block-ListSelectBank_allBanks {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
.Block-ListSelectBank__PositionSelectBank {
  align-items: center;
  border: 1px solid #e6e7eb;
  border-radius: 11px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 65px;
  justify-content: center;
  margin-right: 8px;
  width: calc(33.33% - 8px);
}
.Block-ListSelectBank__nameBank {
  color: #343d5d;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.Block-ListSelectBank__BankIcon{
  height: 25px;
  margin-bottom: 2px;
  width: 25px;
}
.wrapper_Block-chooseAllBanks {
  margin-bottom: 20px;
  width: 100%;
}
.Block-chooseAllBanks{
  align-items: center;
  cursor: pointer;
  display: flex;
}
.Block-chooseAllBanks__icoArrow {
  margin-left: auto;
}
.Modal__description {
  color: #80869a;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 22px;
  padding-bottom: 20px;
  width: 100%;
  text-align: left;
}



.Block-LabelGiveCheck {
  width: 100%;
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 14px;
}
.Block-LabelGiveCheck__checkBox{
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.Block-LabelGiveCheck__GiveCheck {
  color: #80869a;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 13px;
}
.Block-LabelGiveCheck__fakeCheckBox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 14px;
  min-width: 14px;

  margin-right: 1.2em;
  border-radius: 0.25em;
  border: 1.5px solid #dcdee3;
  background-color: white;
}

.Block-LabelGiveCheck__fakeCheckBox::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-color: #413dff;
  display: block;
  left: 3px;
  opacity: 0;
  transition: 0.2s;
}
.Block-LabelGiveCheck__checkBox:checked
  + .Block-LabelGiveCheck__fakeCheckBox::before {
  opacity: 1;
}
.Block-InputEmail {
  border: 1px solid black;
  border-radius: 4px;
  bottom: 0;
  color: #010d35;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 5px 10px 8px;
  width: 100%;
}
